:root {
    --color-white: #E4E5EA;
    --color-grey: #656566;
    --black: #0E1014;
    --font-size10px: 10px;
    --font-size12px: 12px;
    --font-size14px: 14px;
    --font-size16px: 16px;
    --font-size18px: 18px;
    --font-size48px: 48px;
}